@*@model IEnumerable<SignupPractice.Models.Identity>*@
@model SignupPractice.Models.Identity

@if (ViewBag.Authentication == true)
{
    {
        Layout = "~/Views/Shared/_LayoutS.cshtml";
    }
}
else
{
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


@{
    ViewBag.Title = "Index";
    ViewBag.username = Model.firstname + " " + Model.lastname;
}

<div class="container">

    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a data-toggle="pill" href="#profile">Your Profile</a></li>
            <li><a data-toggle="pill" href="#projectsearch">Search Projects</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <div class="tab-content">
            <div id="profile" class="tab-pane fade in active">

                <div class="container"> @*profile*@
                <div class="panel ">
                    <div class="panel-body">
                        <div class=" col-md-4 text-center">
                        <img class="img-thumbnail" style="width:200px; height:200px;" src="#" />
                        </div>
                        <div class=" col-md-8">
                            <h2>STUDENT NAME</h2>
                            <p>details..</p>
                        </div>                        
                    </div>
                </div>
                </div>

                <h2>Your Projects</h2><hr />
                <div class="panel panel-default" style="width:20rem;">
                    <div class="panel-heading"><h3>Project title</h3></div>
                    <div class="panel-body">                      
                        <div class="panel-info"><p> helo ae eamf fd rknam f ldsjen sdkles nd dlfkns </p></div>
                        <a href="#" class="btn btn-primary">click</a> 
                    </div>
                </div>
            </div>
            <div id="projectsearch" class="tab-pane fade">
                <h3>Projects list which is being offered</h3>
                @{
                    Html.RenderAction("hello", "ProjectsEntities");
                 }
                <p>search functionality Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>               
        </div>
    </div>

</div>
<div class="container">
    <div class="col-md-10">
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.id)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.firstname)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.lastname)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.email)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.password)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.phone)
                </td>
                @try
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Details", "Details", new { id = Model.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.id })
                    </td>
                }
                catch
                {

                }
            </tr>
        </table>
    </div>
</div>