@model IEnumerable<SignupPractice.Models.Identity>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Create Project</a></li>
        <li><a href="#demo" data-toggle="collapse"> View Projects <span class="caret"></span></a></li>
        <div id="demo" class="collapse">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Current</a></li>
                <li><a href="#">Previous</a></li>
            </ul>
        </div>
        <li><a href="#">Mark Project</a></li>
        <li><a href="#">Project Meetings</a></li>
        <li><a href="#moredemo" data-toggle="collapse">More<span class="caret"></span></a></li>
        <div id="moredemo" class="collapse">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Co-supervise Project</a></li>
                <li><a href="#">Supervision Requests</a></li>
                <li><a href="#">Project Requests</a></li>
                <li><a href="#">Projects Progress</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </div>
            <li class="dropdown">
                <hr />
                <div class="container">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>User Name<span class="caret"></span>
                    </a><a href="#"><span style="padding-right:115px;"></span><span class="glyphicon glyphicon-plus"></span></a><hr />
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Update Profile</a></li>
                    </ul>
                    </div>
</li>
</ul>

</div>
<div class="col-md-10">
    
</div>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>*@
